table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(align="center" class="f_normal" style="padding: 35px; background-color: #ffffff;" bgcolor=white)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(align="left" class="f_normal" style=`font-family: ${fallback}; font-size: 14px; line-height: 24px;` bgcolor="#FFF")
            p(class="f_normal brown" style="font-size: 14px; line-height: 20px; padding-left: 18px; text-align: center").
              Don't want to receive email Updates? #[a(href="#" target="_blank" class="yellow") Unsubscribe here].
        