table(width=max_w align="center" class="deviceWidth")&attributes(tableAtt)
  tr
    td(class="padding-top padding-bot" bgcolor=white)
      table(align="center" width="100%")&attributes(tableAtt)
        tr
          td(class="bg-image")
            p(class="white f_normal intro-text")
              | Tempo Takes you
              br
              | to your
              br
              | Destination
            span(align="center")
              +button({ text:'Buy Now', color:'black', width:150, radius:4, height:40, bgcolor:'#eacb3c', font_size:'18'})
          td()
            img(src=img_path+"hero-image.png" width="351" height="300")

